<a href="https://colab.research.google.com/github/ptrierweiler/bb_scores/blob/main/unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

# 1.1

In [ ]:
pd.__version__

'1.1.4'

In [ ]:
np.__version__

'1.18.5'

In [ ]:
tf.__version__

'2.3.0'

# 1.2

In [ ]:
# creating empty dataframe
df = pd.DataFrame()

In [ ]:
# creating date column
df['col1'] = pd.date_range('2018-01-01', periods=10,freq='MS')

In [ ]:
# building random columns
df['col2'] = np.random.randint(1,100,df.shape[0])
df['col3'] = np.random.randint(1,100,df.shape[0])
df['col4'] = df['col3'] - df['col2']

In [ ]:
df1 = df[df['col1'] <= '2018-03-01'].copy()
df1

        col1  col2  col3  col4
0 2018-01-01    93    87    -6
1 2018-02-01    41    14   -27
2 2018-03-01    58    84    26

In [ ]:
df2 = df[(df['col1'] >'2018-03-01') & (df['col1'] <= '2018-07-01')].copy()
df2

        col1  col2  col3  col4
3 2018-04-01    26    67    41
4 2018-05-01    35    99    64
5 2018-06-01    51    21   -30
6 2018-07-01    52     1   -51

In [ ]:
df3 = df[df['col1'] > '2018-07-01'].copy()
df3

        col1  col2  col3  col4
7 2018-08-01    85    82    -3
8 2018-09-01    63    97    34
9 2018-10-01    16    25     9

In [ ]:
df

        col1  col2  col3  col4
0 2018-01-01    93    87    -6
1 2018-02-01    41    14   -27
2 2018-03-01    58    84    26
3 2018-04-01    26    67    41
4 2018-05-01    35    99    64
5 2018-06-01    51    21   -30
6 2018-07-01    52     1   -51
7 2018-08-01    85    82    -3
8 2018-09-01    63    97    34
9 2018-10-01    16    25     9

# 1.3

In [ ]:
# creating df
temps_df = pd.DataFrame()
# populating with values
temps_df['temp_f'] = np.random.randint(1,100,25)
temps_df['temp_c'] = round(((temps_df['temp_f']- 32) * (5/9)),2)

In [ ]:
temps_df.head()

   temp_f  temp_c
0      10  -12.22
1      42    5.56
2      32    0.00
3      48    8.89
4      87   30.56

In [74]:
# creating columns
data = temps_df['temp_c']
target = temps_df['temp_f']

In [ ]:
# building layer
ly = tf.keras.layers.Dense(units=1, input_shape=[1])

In [ ]:
# building model
model = tf.keras.Sequential([ly])

In [ ]:
# compiling model
model.compile(loss='mean_squared_error',
              optimizer=tf.keras.optimizers.Adam(0.1))

In [ ]:
# training model
train = model.fit(data,target,epochs=1000, verbose=False)

In [ ]:
# testing model
print(model.predict([100.0]))

[[212.00266]]

In [ ]:
# printing weights
ly.get_weights()

[array([[1.8000342]], dtype=float32), array([31.99923], dtype=float32)]